@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Exo:ital,wght@0,100..900;1,100..900&family=Itim&family=Rubik+Wet+Paint&family=Spicy+Rice&display=swap');

@layer base {
    :root {
        /* Pink */
        --color-bg-from-pink: #FECED7;
        --color-bg-to-pink: #FFEFF2;
        --color-header-icon-pink: #f38d68;
        --color-header-text-pink: #fff05a;
        --color-header-text-shadow-pink: #f7b801;
        --color-text-pink: #374151;
        --color-input-background-pink: #FFFFFF;
        --color-input-text-pink: #000000;
        --color-input-border-pink: #eb91a3;
        --color-box-bg-pink: #FFFFFF;
        --color-box-text-pink: #D2B5D3;
        --color-box-border-inner-pink: #FDDEE4;
        --color-box-border-outter-pink: #FFFFFF;
        --color-box-text-shadow-pink: #aa7d87;
        --color-box-shadow-pink: rgba(50, 50, 93, 0.25);
        --color-button-background-pink: #ECACBB;
        --color-button-background-hover-pink: #F19FB2;
        /* Halloween */
        --color-bg-from-halloween: rgba(6, 2, 9, 0.98);
        --color-bg-to-halloween: rgba(52, 26, 54, 0.92);
        --color-header-icon-halloween: #ffffff;
        --color-header-text-halloween: #c51111;
        --color-header-text-shadow-halloween: #621708;
        --color-text-halloween: #FFFFFF;
        --color-input-background-halloween:#364156;
        --color-input-text-halloween:#FFFFFF;
        --color-input-border-halloween:#31263e;
        --color-box-bg-halloween: #364156;
        --color-box-text-halloween: #f7b801;
        --color-box-border-inner-halloween: #31263e;
        --color-box-border-outter-halloween: #c26a0d;
        --color-box-text-shadow-halloween: #020122;
        --color-box-shadow-halloween: rgba(247, 184, 1, 0.17);
        --color-button-background-halloween: #ff6201;
        --color-button-background-hover-halloween: #f35b04;
        /* Chess Maze */
        --color-bg-from-chessmaze: rgba(6, 2, 9, 0.52);
        --color-bg-to-chessmaze: rgba(52, 26, 54, 0.32);
        --color-header-icon-chessmaze: #fff05a;
        --color-header-text-chessmaze: #fff05a;
        --color-header-text-shadow-chessmaze: #f7b801;
        --color-text-chessmaze: #FFFFFF;
        --color-input-background-chessmaze: #FFFFFF;
        --color-input-text-chessmaze: #000000;
        --color-input-border-chessmaze: #FBF3B9;
        --color-box-bg-chessmaze: #B6E2A1;
        --color-box-text-chessmaze: #295F98;
        --color-box-border-inner-chessmaze: #6F826A;
        --color-box-border-outter-chessmaze: #FADA7A;
        --color-box-text-shadow-chessmaze: #789DBC;
        --color-box-shadow-chessmaze: rgba(160, 172, 99, 0.25);
        --color-button-background-chessmaze: #FFB26F;
        --color-button-background-hover-chessmaze: #E8B86D;
        /* Tet 2026 */
        --color-bg-from-tet: rgba(179, 76, 76, 0.52);
        --color-bg-to-tet: rgba(52, 26, 54, 0.32);
        --color-header-icon-tet: #FFD700;
        --color-header-text-tet: #FFD700;
        --color-header-text-shadow-tet: #654321;
        --color-text-tet: #FFFFFF;
        --color-input-background-tet: #FFFFFF;
        --color-input-text-tet: #8B4513;
        --color-input-border-tet: #ac943c;
        --color-box-bg-tet: #CD2026;
        --color-box-text-tet: #FFFFE0;
        --color-box-border-inner-tet: #B8860B;
        --color-box-border-outter-tet: #FFD700;
        --color-box-text-shadow-tet: #513e06;
        --color-box-shadow-tet: rgba(205, 221, 27, 0.25);
        --color-button-background-tet: #FFD700;
        --color-button-background-hover-tet: #FADA7A;
    }
    .scroll::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    .scroll::-webkit-scrollbar-track {
        width: 6px;
        height: 4px;
    }
    .scroll::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 24px;
    }
}